﻿@model LoginModel
@{
    ViewBag.Title = "Log In";
    Layout = "_AdminLayout";
}
@*<div style="margin: 0 auto; width:30%; border: 1px solid #ccc;border-radius:4px;">*@
<div class="col-md-4 col-md-offset-4">
    <div class="navbar" asp-validation-summary="All"><div class="navbar navbar-inverse">SHOP BOOK</div></div>
    <form asp-action="Login" asp-controller="Account" method="post">
        <input type="hidden" asp-for="ReturnUrl" />
        <div class="form-group">
            <label asp-for="Name"></label>
            <div><span asp-validation-for="Name" class="text-danger"></span></div>
            <input asp-for="Name" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="Password"></label>
            <div><span asp-validation-for="Password" class="text-danger"></span></div>
            <input asp-for="Password" class="form-control" />
        </div>
        <button class="btn btn-primary center-block" type="submit">Log In</button>
    </form>
</div>