﻿<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" asp-href-include="lib/bootstrap/dist/css/*.min.css" />
    <link rel="stylesheet" asp-href-include="/lib/fontawesome/css/*.css" />
    <title>Shop Book</title>
</head>
<body>
    <div class="navbar navbar-inverse" role="navigation" style="width:100%">
        <a class="navbar-brand" style="width:20%" href="#">SHOP BOOK</a>
        <div class="pull-right" style="width:50px">
            @await Component.InvokeAsync("CartSummary")
        </div>
        <form method="get" asp-action="Sreach" asp-controller="Product">
            <div class="pull-right" style="color:white;width:60%;margin-top:8px">
                <span style="width:5%;float:right">&nbsp;</span>
                <span style="width:50px;float:right">
                    <input type="button" class="form-control" value="GO">
                </span>
                <input type="text" class="form-control " name="category" id="category" placeholder="Search for..." style="width:30%;float:right">
            </div>
        </form>
        @*@using (Html.BeginForm("Sreach", "Product", FormMethod.Get))
        {
            <p>
                Title: @Html.TextBox("category") <br />
                <input type="submit" value="Filter" />
            </p>
        }*@
    </div>
    <div class="col-lg-12 bg-info">
        @await Component.InvokeAsync("Banner")
    </div>
    <div class="row panel">
        <div id="categories" class="col-xs-3">
            @await Component.InvokeAsync("NavigationMenu")
        </div>
        <div class="col-xs-8">
            @RenderBody()
        </div>
    </div>
</body>
</html>