﻿@model Product
<div class="well">
    <h3>
        <strong>@Model.Name</strong>
        <span class="pull-right label label-primary">
            @Model.Price.ToString("c")
            
        </span>
    </h3>
    
    <form id="@Model.ProductID" asp-action="AddToCart"
          asp-controller="Cart" method="post">
        <span><img style="width:50%" src="~/images/@Model.files" /></span>
        <input type="hidden" asp-for="ProductID" />
        <input type="hidden" name="returnUrl"
               value="@ViewContext.HttpContext.Request.PathAndQuery()" />
        <div></div>
        <span class="lead">
            @Model.Description
            <button type="submit" class="btn btn-success btn-sm pull-right" >
                Add To Cart
            </button> 
        </span>
    </form>
</div>
<div class="well-lg"></div>
